#game {
    width: 100vw;
    height: 70vh;
}

canvas {
    background-image: url('/grid.png');
}

#controls {
    width: 100vw;
    height: 15vh;
}

button[name='up'] {
    width: 80px;
    height: 80px;
    background-image: url('/up.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

button[name='down'] {
    width: 80px;
    height: 80px;
    background-image: url('/down.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

button[name='left'] {
    width: 80px;
    height: 80px;
    background-image: url('/left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

button[name='right'] {
    width: 80px;
    height: 80px;
    background-image: url('/right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}