.app {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 80px;
    width: 100vw;
    background-color: lightblue;
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
}

main {
    flex: 1;
    width: 100vw;
    background-color: antiquewhite;
    text-align: center;
    text-wrap: wrap;
    padding-top: 15vh;
    padding-bottom: 40vh;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
}

footer {
    flex: 0 80px;
    width: 100vw;
    background-color: burlywood;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
}

h1 {
    font: Copperplate 1.2em bold;
}

h2 {
    font: Arial 1.0em bold;
}

ol {
    list-style-position: inside;
}

ul {
    list-style-position: inside;
    list-style-image: url('/SnakeBlock.png');
}